@model IEnumerable<Destiny.ScrimTracker.Logic.Models.GuardianSnapshot>

@{
    ViewBag.Title = "Clan Guardians";
    ViewBag.Guardians = Model;
    var count = 0;
}

<h2>Clan Guardians</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Clan Rank</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Guardian.GamerTag)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.GuardianElo)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.GuardianEfficiency)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Guardian.LifetimeKills)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Guardian.LifetimeDeaths)</th>
        </tr>    
    </thead>

    @foreach (var guardian in Model)
    {
        count += 1;
        <tr>
            <th scope="row">@count</th>
            <td>@guardian.Guardian.GamerTag</td>
            <td>@guardian.GuardianElo.ToString("F0")</td>
            <td>@guardian.GuardianEfficiency.ToString("F2")</td>
            <td>@guardian.Guardian.LifetimeKills</td>
            <td>@guardian.Guardian.LifetimeDeaths</td>
        </tr>
    }
</table>
<a href="/add_guardian">Add a new Guardian</a>