@using Destiny.ScrimTracker.Logic.Models
@model IEnumerable<MatchResults>

@{
    ViewBag.Title = "Recent Clan Matches";
}

<h2>Clan Matches</h2>

<div>
    <a href="/match"><button >Add a New Match</button></a>
    <a href="/guardian"><button>All Guardians</button></a>
</div>

@foreach (var match in Model)
{
    <div>
        @match.MatchType.ToString()
        Teams
        
        @foreach (var team in match.Teams)
        {
            <fieldset>
                <legend>
                    @team.Name @team.TeamScore
                </legend>
                <table>
                    <tr>
                        <th>Guardian</th>
                        <th>Efficiency</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>Assists</th>
                    </tr>
                    @foreach (var results in team.GuardianMatchResults)
                    {
                        <tr>
                            <th>@results.GuardianName</th>
                            <th>@results.Efficiency.ToString("F2")</th>
                            <th>@results.Kills</th>
                            <th>@results.Deaths</th>
                            <th>@results.Assists</th>
                        </tr>
                    }
            </table>
        </fieldset>
        }
    </div>
    <div>
        ---------------------------------------------------------------------------------------
    </div>
}
